main{
  width: 100vw;
  display: flex;
  justify-content: center;
}
section{
  margin-top: 20vh;
  // border: 1px solid rebeccapurple;
  display: grid;
  gap: 5vw;
  grid-template-rows: 13vh 13vh 13vh 13vh;
  grid-template-columns: 13vh 13vh 13vh;

  &>div{
    background-color: #c4c4c4;
    border-radius: 50%;
  }
  &>div:hover{
    background: gray;
  }
}