*{
}
#root{
  overflow: hidden;
}
main{
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow: hidden;

}
#filter {
  width: 90vw;
  height: 5vh;
  margin-top: 25vh;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  position:absolute;
  left: 10vw;
  background-color: #c4c4c4;
  overflow: hidden;
}
#container{
  margin-top: 35vh;
  width: 90vw;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  &>div:nth-child(1){
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    &>p{

    }
  }
}
section{
  margin-top: 2vh;
  margin-bottom: 10vh;
  width: 90vw;
  justify-content: center;
  // border: 1px solid red;
  display: grid;
  grid-template-columns: 40vw 40vw;
  gap: 5vw;
  grid-template-rows: 30vh 30vh;
  &>div{
    background-color: #c4c4c4;
  }
}