*{
  margin: 0;padding: 0; box-sizing: border-box;
}
:root{
  --color-1:#47D184;
  --color-2:#DC0D28;
  --color-3:#fff;
  --color-4:#000;
}
#root{
  width: 100vw;
  height: 100vh;
  background-image: url(/제작/image/orangecocktail.jpg);
  background-position: center center;
  background-size: cover;
  &>div{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter:blur(2px);
    }
}
p{
  font-size: 0.7rem;
  color: var(--color-3);
  font-weight: 100;
}

header{
  margin-top: 40vh;
  // border: 1px solid wheat;
  width: 80vw;
    &>h1{
      color: white;
      &>span:nth-child(1){
        color: var(--color-1);
      }
      &>span:nth-child(2){
        color: var(--color-2);
      }
    }

    &>p{
      white-space:nowrap;
      margin-top: 1vh;
      line-height: 1.2rem;
      letter-spacing: -0.02rem;
    }
}

main {
  margin-top: 5vh;
  // border: 1px solid wheat;

  &>div:nth-child(1){
    width: 80vw;
    height: 7vh;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    &>h2{
      color: var(--color-1);
      letter-spacing: 0.4rem;
      font-size: 1.3rem;
    }
  }
  &>div:nth-child(2){
    margin-top: 3vh;
    width: 80vw;
    height: 7vh;
    background-color:rgb(71, 209, 132,0.8);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    &>h2{
      color: var(--color-3);
      letter-spacing: 0.4rem;
      font-size: 1.3rem;
    }
  }
}
.line::before {
  content: "";
  flex-grow: 1;
  /* margin: 0vw 3vw; */
  background-color: #c4c4c4;
  height: 1px;
}
.line::after {
  content: "";
  flex-grow: 1;
  /* margin: 0vw 3vw; */
  background-color: #c4c4c4;
  height: 1px;
}
.line > p {
  margin: 2vw;
}
.line{
  width: 80vw;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  align-items: center;
    &>p{
      font-size: 0.7rem;
    }
}