header{
  width: 100vw;
  position: fixed;
  top: 0;
  border: 1px solid red;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  padding: 5vw;
  &>div{
    width: 70vw;
    border: 1px solid rebeccapurple;
    height: 5vh;
    display: flex;
    align-items: center;
    &>div:nth-child(1){
      width: 5vh;
      height: 5vh;
      background-color: #ffffff;
    }
    &>h1{
      margin-left: 2vw;
    }
    
  }
  &>nav {
    width: 25vw;
    height: 5vh;
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    &>div:nth-child(1){
      width: 5vh;
      height: 5vh;
      background-color: #ffffff;
    }
    &>div:nth-child(2){
      width: 5vh;
      height: 5vh;
      background-color: #ffffff;

    }
  }
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  border: 1px solid black;
}

#bg{
  width: 100vw;
  height: 100vh;
  z-index: 1;
  &>div:nth-child(1){
    width: 100vw;
    height: 25vh;
    background-color: #ccc;
    
  }
  // &>div:nth-child(2){
  //   width: 7;
  // }
}
#profileImg{
  width: 25vh;
  height: 25vh;
  background-color: #e0e0e0;
  border-radius: 50%;
  top: 12vh;
  position: absolute;
  z-index: 3;
}
section{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid brown;
  top: 40vh;
  position: absolute;
  z-index: 2;
}

#name{
  width: 20vw;
  height: 5vh;
  background-color: #fff;
}

